@import 'colors';

.header {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $black;

    &__logo {
        width: 500px;
        position: absolute;
        opacity: 0.7;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scrollDown {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -10%);
        font-size: 20px;
        opacity: 0.7;
        cursor: pointer;
        color: $gray;

        &__p {
            margin-bottom: 15px;
        }

        &__arrow {
            font-size: 20px;
            animation-duration: 1.5s;
        }
    }


    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bruno19-220718.jpg') no-repeat center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.5;
    }
}




.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $white;
    opacity: 0.9;
    z-index: 100;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;

    .group__logo {    
        width: 70px;
        height: 70px;
    }

    .navbar__links {   
        margin-left: 20px;
        :nth-child(1),
        :nth-child(2),
        :nth-child(3) {
            margin-right: 10px;
        }

        .links__elem {
            text-decoration: none;
            color: $gray;

            
        }
        .links__elem:hover {
            color: $black;
        }

    }
}

    

.section1 {
    

    &__p{
        width: 500px;
        text-align: center;
        margin: 100px auto;
        
    }
}


.section2{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    img{
        position: absolute;
        right: -50px;
        width: 60%;
        transform: rotate(-20deg);
    }
}

.section3{
    height: 500px;
}

.gallery{
    margin: 200px 100px;
    .wrapper{
        width: auto;
        display: flex;
        flex-direction: row;

        :nth-child(2){
            margin: 0 5px;
        }

        .wrapper__group{
            width: calc(100% * (1/3));

            img{
                width: 100%;
            }
           
        }
        
    }
}


footer {
    background-color: $black;
    height: 100vh;
    width: 100%;
    color: $white;
    position: relative;

    .wrapper {
        display: flex;
        height: 90%;
        padding-top: 90px;       

        .group {
            width: 50%;
            display: flex;
            flex-direction: column;

            .info {
                text-align: center;
                
                &__img {
                    width: 150px;
                    height: 150px;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                &__icon {
                    margin-right: 10px;
                }
            }

            .group__socNetwork {
                text-align: center;
                height: 50%;
                margin-top: 50px;

                .socNetwork__icon {
                    font-size: 30px;
                }

                :nth-child(2) {
                    margin-right: 10px;
                }
            }
        }

        .formWrapper {
            width: 50%;
            margin-top: 20px;

            &__heading {
                text-align: center;
            }

            .form {
                width: 100%;
                max-width: 350px;
                padding: 1em 2em 2em 2em;
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                .element {
                    width: 100%;
                    position: relative;
                    padding: 20px 0;
            
                    &__input {
                        width: 100%;
                        border: 0;
                        border-bottom: 1.3px solid $gray;
                        display: block;
                        height: 40px;
                        outline: none;
                        font-size: 20px;
                        background-color: transparent ;
                        color: $white ;
            
                        @-webkit-keyframes autofill {
                            to {
                                color: $white;
                                background: transparent;
                            }
                        }
                        
                        &:-webkit-autofill {
                            -webkit-animation-name: autofill;
                            -webkit-animation-fill-mode: both;
                        }
                        
                        .element__input--first {
                            margin-top: 0;
                        }
            
                        &:focus ~ .element__label {
                            top: 0px;
                            color: $gray;
                            font-size: 15px;
            
                        }
            
                        &:focus ~ .element__bar::before,
                        &:focus ~ .element__bar::after {
                            width: 50%;
                        }
                    }        
            
                    &__bar {
                        position: absolute;
                        display: block;
                        width: 100%;
            
                        &:before,
                        &:after {
                            content: '';
                            height: 3px;
                            width: 0;
                            bottom: 0px;
                            position: absolute;
                            background: $gray;
                            transition: all 0.2s ease;
                            -moz-transition: all 0.2s ease;
                            -webkit-transition: all 0.2s ease;
                            -o-transition: all 0.2s ease;
                        }
            
                        &:before {
                            left: 50%;
                        }
            
                        &:after {
                            right: 50%;
                        }
                    }
            
                    &__label {
                        position: absolute;
                        top: 25px;
                        transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        font-size: 18px;
                        color: $white;
            
                        .label__icon {
                            margin-right: 10px;
                        }
                    }
                }

                &__button {
                    margin-top: 30px;
                    border: 1.5px solid $gray;
                    background-color: transparent;
                    color: $gray;
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 5px;
                    transition: all 1s ease;
                    -moz-transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;

                    &:hover{
                        border: 1.5px solid $white;
                        color: $white;
                        
                    }
                }
            }
        }
    }


    .wrapper__copyRight {
        text-align: center;
        font-size: 15px;
        margin-bottom: 0;
    }
}